
.virtual-table-cell  {
  box-sizing: border-box;
  padding: 12px  8px;
  border: 1px solid #f0f0f0;
  border-top: none;
  border-right: none;
}

.ant-table-container table > .ant-table-thead > tr .ant-table-cell {
  box-sizing: border-box;
  padding: 12px  8px;
  border: 1px solid #f0f0f0;
  border-top: none;
  border-right: none;

  &:last-child {
    padding-right: 7px;
  }
}

.ant-table .ant-table-header {
  padding-right: 4px;
  border: 1px solid #f0f0f0;
  border-bottom: none;
  border-left: none;
}

.arrowContainer {
  position: absolute;
  z-index: 9;
  top: 200px;
  right: -100px;
  width: 20px;
  background: red;
  transition: right 0.5s ease-in;
}

.arrowShow {
  right: 0;
}

.headerMark {
  position: absolute;
  z-index: 1;
  top: 50px;
  right: 1px;
  width: 5px;
  height: 87px;
  background-color: #fff;
}

.virtual-table-cell-last-fixed {
  background-color: #fff;
  transition: right 0.5s ease-in;
}

.cell-last-fixed-slide {
  left: auto !important;
}

.ant-table-cell-fix-right-static {
  position: static !important;
}