// 两栏
.box{
      display: flex;
  }
  .left {
      width: 100px;
       background: coral;
  }
  .right {
      flex: 1;
      background: lightblue;
  }


// 三栏

// .wrap {
//         background: #eee;
//         overflow: hidden; // <!-- 生成BFC，计算高度时考虑浮动的元素 -->
//         padding: 20px;
//         height: 200px;
//     }
//     .left {
//         width: 200px;
//         height: 200px;
//         float: left;
//         background: coral;
//     }
//     .right {
//         width: 120px;
//         height: 200px;
//         float: right;
//         background: lightblue;
//     }
//     .middle {
//         margin-left: 220px;
//         height: 200px;
//         background: lightpink;
//         margin-right: 140px;
//     }


// .left,
//   .right,
//   .main {
//     height: 200px;
//     line-height: 200px;
//     text-align: center;
//   }

//   .main-wrapper {
//     float: left;
//     width: 100%;
//   }

//   .main {
//     margin: 0 110px;
//     background: black;
//     color: white;
//   }

//   .left,
//   .right {
//     float: left;
//     width: 100px;
//     margin-left: -100%;
//     background: green;
//   }

//   .right {
//     margin-left: -100px; /* 同自身宽度 */
//   }


// .wrap {
//         display: grid;
//         width: 100%;
//         grid-template-columns: 300px auto 300px;
//     }

//     .left,
//     .right,
//     .middle {
//         height: 100px;
//     }

//     .left {
//         background: coral;
//     }

//     .right {
//         width: 300px;
//         background: lightblue;
//     }

//     .middle {
//         background: #555;
//     }