.ant-layout-header {
  display: flex;
  justify-content: space-between;

  .logo {
    display: inline-block;

    img {
      float: left;
      width: 120px;
      height: 31px;
      margin: 16px 24px 16px 0;
    }
  }
  .ant-menu-overflow {
    display: inline-block;
  }
}

.ant-layout {
  .ant-menu-inline .ant-menu-item {
    margin-top: 0;
  }
}
